.header{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
    
}

.tinder-logo{
    height: 40px;
    padding: 32px;
}
.header-icon{
    padding: 20px;
}